body{
    padding: 0;
    margin: 0;
    background: url(/image/bg/background.png);
    font-family: Arial, sans-serif;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background:#C55394;
}
nav .log h1{
    color: #fff;
    font-size: 30px;
    font-family: 'Courgette', cursive;
    margin-left: 16px;
}
nav .lien a{
    text-decoration: none;
    color: #fff;
    margin-right: 16px;
    height: 100%;
    padding: 38px;
}
nav .lien a:hover{
    background:#EB43A3;
}
body .section .arc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    top: 15%;
    justify-content: center;
}
body .titre h1{
    position: absolute;
    color: #EB43A3;
    font-family: 'Courgette', cursive;
    left: 40%;
    top: 200px;

}
body .box{
    background: #fff;
    justify-content: center;
    height: auto;
    margin: 10% auto;
    padding: 20px;
    width: 1000px;
    filter: drop-shadow(2px 4px 8px #333);
    position: relative;
    top: -28px;
}
body .box h2{
    color: #EB43A3;
    font-family: 'Courgette', cursive;
}
body .box h4{
    color: #EB43A3;
    font-family: 'Courgette', cursive;
}
.box .contact{
    display: flex;
}
.box .contact .text1{
    flex-direction: column;
}
.figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.figure img{
    height: 180px;
}
.figure figcaption{
    justify-content: center;
    background: #333;
    position: relative;
    top: -28px;
    position:relative;
    top:-28px;
}
.figure figcaption p{
   color: #fff;
   text-align: center;
   padding: 5%;
}
.button{
    background:#EB43A3;
    color: #fff;
    border: #EB43A3;
    height: 30px;
    border-radius: 5px;
    text-align: center;
}
input{
    color: #fff;
    height: 30px; 
}
.map{
    height: 500px;
}
.text1{
padding: 2%;
}
footer{
    display: flex;
    justify-content: right;
    background: #C55394;
}
footer p{
    padding: 15px;
    color: #fff;

}